.container-img-text {
    position: relative;
    text-align: center;
    color: white;
}
/* Centered text */
.text-over-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map {
    height: 100%;
    min-height: 200px;
    width: 100%;
    z-index: 1;
}