.container-img-text {
    position: relative;
    text-align: center;
    color: white;
}
/* Centered text */
.text-over-img {
    color: black;
    background-color: white;
    padding: 6px;
    font-weight: bold;
    font-size: 24px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.map {
    height: 100%;
    min-height: 200px;
    width: 100%;
    z-index: 1;
}